<h1>タスク一覧</h1>
<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |message| %>
        <tr>
          <td><%= link_to message.id, message %></td>
          <td><%= message.status %></td>
          <td><%= message.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<% end %>

<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>